<h3>{data[2]} Think Following Penalty is unfair becouse {{reason}}</h3>
<br>
<hr>
<br>
<table  width="50%" cellpadding="2" cellspacing="0">
	<tr>
		<th>Penalty ID</th>
		<td>      {{data[0]}}</td>
	</tr>
	<tr>
		<th>Penalty Type</th>
		<td>      {{data[1]}}</td>
	</tr>
	<tr>
		<th>Player Name</th>
		<td>      {{data[2]}}</td>
	</tr>
	<tr>
		<th>Reason</th>
		<td>      {{data[3]}}</td>
	</tr>
	<tr>
		<th>Admin Name</th>
		<td>      {{data[4]}}</td>
	</tr>
	<tr>
		<th>Expire Time</th>
		<td>      {{data[5]}}</td>
	</tr>

</table>