<html>
<head>

<meta http-equiv="refresh" content="5">
</head>
<body>
	<center>
   <h1>Hi! We have detected you are using an AdBlock plugin on your browser.</h1>
   <h2>Our website is not crowded with banners and they won't affect your browsing experience. Please disable AdBlock on this website.</h2>
   <h1>Ads are the Only Reason our Servers are still running</h1>
   <h3>So please disable AdBlock on this website.</h3>
   <img src="/static/img/browser.png"></img>
	<h4>Look to the upper-right corner of your browser's window.</h4>
	<h4>Search for a red icon and choose the plugin you have to read specific instructions:</h4>
   </ul>
   <img src="/static/img/preview.adblock.png" width="300" height="300" alt="Ad Block">
   <img src="/static/img/preview.adblock_plus.png" width="300" height="300" alt="Ad Block Plus">
   <img src="/static/img/preview.ublock_origin.png" width="300" height="300" alt="uBlock Origin">
   </center>
   <script src="{{ url_for('static', filename='js/ads.js') }}"></script>
   <script>
    if(document.getElementById('zfJKmUvQEqhV')){
	 window.location.href = '//blackassassins.tk';
	}
   </script>
</body>
</html>
