{% extends "header.html" %}

{% block body %}
    <header class="masthead text-center text-white d-flex" style="min-height:100%;">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Black Assassins</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Black Assassins formerly known as legions e-sport is Sri Lankan Gaming Clan Community</p>
			<br/>
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5797834730464175" data-ad-slot="6943863363" data-ad-format="auto"></ins>
			<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
			<br/>
			<br/>
			<br/>
			<a href="#" class="scroll-down" address="true"></a>
		  </div>
        </div>
      </div>
    </header>

	<section class="bg-primary" id="about">

		<div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <hr class="light my-4">
			<div class="container-fluid">
            <a href="https://www.gametracker.com/server_info/128.199.145.90:28960/" target="_blank"><img class="img-fluid" src="https://cache.gametracker.com/server_info/128.199.145.90:28960/b_560_95_1.png" border="0" alt=""/></a>
			</div>
			<br/>
			<br/>
			<a class="btn btn-light btn-xl js-scroll-trigger" href="cod4://[::ffff:128.199.145.90]:28960">Join Now!</a>
		  </div>
        </div>
      </div>
    </section>

    <section id="services">
	<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5797834730464175" data-ad-slot="6943863363" data-ad-format="auto"></ins>
	<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Why Our Server</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-signal text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Stable</h3>
              <p class="text-muted mb-0">Our servers are powered by SupiriTech. So we can guarantee 99.99% up time and lag free experience</p>
            </div>
          </div>
		  <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-desktop text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">No Hackers</h3>
              <p class="text-muted mb-0">You have the most advanced anti hacking system a server ever had in addition we have screenshot bot so you can check your self if some is hacking or not stright from this website</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-users text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Friendly</h3>
              <p class="text-muted mb-0">We have very friendly admin panel and player base. So if you have any problem you can direct report it to admins</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-gift text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Play & Earn</h3>
              <p class="text-muted mb-0">We always respect reguler players so we have lot of rewards waiting in the server for reguler players more you play more you get</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
	<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5797834730464175" data-ad-slot="6943863363" data-ad-format="auto"></ins>
	<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
	<div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery ss">
			{% for img in ss %}
			  <div class="col-lg-4 col-sm-6">
				<a class="portfolio-box" href="/ss/view/?ssid={{img[0]}}">
				  <img class="img-fluid" src="static/screenshots/{{img[0]}}.jpg" alt="">
				  <div class="portfolio-box-caption">
					<div class="portfolio-box-caption-content">
					  <div class="project-category text-faded">
						{{img[0]}}
					  </div>
					  <div class="project-name">
						{{img[1]}}
					  </div>
					</div>
				  </div>
				</a>
			  </div>
			{% endfor %}
        </div>
      </div>
    </section>
          
	<!--section class="bg-dark text-white section text-center">
	<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5797834730464175" data-ad-slot="6943863363" data-ad-format="auto"></ins>
	<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

		<h1 class="section-heading h1 pt-4">Testimonials</h1>



		<div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade" data-ride="carousel" data-interval="false">


			<div class="carousel-inner" role="listbox">

				<div class="carousel-item active">

					<div class="testimonial">

						<div class="avatar">

							<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid" alt="First sample avatar image">

						</div>

						<p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam.</p>

						<h4>Anna Deynah</h4>
						<h6>Founder at ET Company</h6>


						<i class="fa fa-star"> </i>
						<i class="fa fa-star"> </i>
						<i class="fa fa-star"> </i>
						<i class="fa fa-star"> </i>
						<i class="fa fa-star-half-full"> </i>
					</div>

				</div>

				<div class="carousel-item">

					<div class="testimonial">
	
						<div class="avatar">

							<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid" alt="Second sample avatar image">

						</div>

						<p><i class="fa fa-quote-left"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore. </p>

						<h4>Maria Kate</h4>
						<h6>Photographer at Studio LA</h6>


						<i class="fa fa-star"> </i>
						<i class="fa fa-star"> </i>
						<i class="fa fa-star"> </i>
						<i class="fa fa-star"> </i>
						<i class="fa fa-star"> </i>
					</div>

				</div>

				<div class="carousel-item">

					<div class="testimonial">

						<div class="avatar">

							<img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid" alt="Third sample avatar image">

						</div>

						<p><i class="fa fa-quote-left"></i> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>

						<h4>John Doe</h4>
						<h6>Front-end Developer in NY</h6>


						<i class="fa fa-star"> </i>
						<i class="fa fa-star"> </i>
						<i class="fa fa-star"> </i>
						<i class="fa fa-star"> </i>
						<i class="fa fa-star-o"> </i>
					</div>

				</div>


			</div>

			<a class="carousel-item-next left carousel-control" href="#carousel-example-1" role="button" data-slide="prev">
				<i class="fa fa-4x fa-chevron-left" aria-hidden="true"></i>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-item-next right carousel-control" href="#carousel-example-1" role="button" data-slide="next">
				<i class="fa fa-4x fa-chevron-right" aria-hidden="true"></i>
				<span class="sr-only">Next</span>
			</a>


		</div>

	</section-->

    <section id="contact" class="bg-dark text-white section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">If You Have Any Complain or Requests Post to our Facebook Group or Email us !</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-facebook-official fa-3x mb-3 sr-contact"></i>
            <p><a href="https://www.facebook.com/groups/446628988868178/">Facebook Group</a></p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:legionsesport@gmail.com">legionsesport@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>
	<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5797834730464175" data-ad-slot="6943863363" data-ad-format="auto"></ins>
	<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

{% endblock %}
